<a href="https://colab.research.google.com/github/jorgealarconlucas/TFG/blob/master/Modelos_de_ML_con_tendencia_temporal.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 1. Machine learning añadiendo información sobre la tendencia temporal

In [ ]:
import pandas as pd
import numpy as np
import statistics as stats
import seaborn as sns
import matplotlib
from matplotlib import pyplot as plt
import scipy.stats as ss
import statistics as stats
import seaborn as sns 
from pandas.plotting import autocorrelation_plot
from sklearn.model_selection import train_test_split
from sklearn.tree import export_graphviz
from six import StringIO
from IPython.display import Image  
import pydotplus
from sklearn.model_selection import  GridSearchCV
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import accuracy_score,recall_score, precision_score, confusion_matrix
from sklearn.feature_selection import SelectFromModel
from sklearn.model_selection import cross_val_score

In [ ]:
db = pd.read_csv('/content/Base datos COVID-Linfos Actualizazda.xlsx - Valores seleccionados.csv')
#db = pd.read_excel('Base datos COVID-Linfos Actualizazda.xlsx') #no quites esta línea, coméntala cuando estés trabajando en tus datos

db.head(8)

,Número,Repetición NHC,Código Externo,FALLECE,UCI,Día del Año,19nCv,Día de POSITIVO,Días respecto a Positivo,Fecha,...,ESSYS,ASLYP,ASLYA,RELPL,RELYP,RELYA,NEUGI,NEURI,ASLPL,19nCv.1
0,221.0,4,111561,NaN,NaN,90,NaN,NaN,NaN,30/03/20,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,319.0,13,102441,NaN,NaN,100,NaN,NaN,NaN,9/04/20,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,368.0,16,102441,NaN,NaN,104,NaN,NaN,NaN,13/04/20,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,1759.0,9,104851,NaN,NaN,238,NaN,NaN,NaN,25/08/20,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,265277.0,7,11258,NaN,NaN,91,NaN,NaN,NaN,31/03/20,...,NaN,0,0,"5,7","2,3","0,13","154,8","50,2",0,NaN
5,325932.0,11,115555,NaN,NaN,98,NaN,NaN,NaN,7/04/20,...,NaN,0,0,"6,6","2,1","0,15","147,1","47,8",0,NaN
6,366742.0,5,111520,NaN,NaN,83,NaN,NaN,NaN,23/03/20,...,NaN,0,0,"5,4","1,8","0,13","152,6","49,9",0,NaN
7,374616.0,6,116651,NaN,NaN,97,NaN,NaN,NaN,6/04/20,...,NaN,0,0,"11,5",5,"0,25",150,"52,7",0,NaN

### 1.1 Eliminación de columnas y filas (consultado con Javier)

Tras una visualización general y una charla con los sanitarios que han transferido la base de datos, se llega a la conclusión de que hay que hacer una limpieza de la misma. Hay columnas que su significado y valores no tienen ninguna relevancia para el estudio que se va a llevar a cabo.

In [ ]:
db1=db.drop(["Repetición NHC","Día del Año","Día de POSITIVO","Días respecto a Positivo","GSRH","GRHPC","GRHRN","GRHCE","FRSP","COMHE","AVSBL","AVSPL","AVSRJ","AVNRB","ESSYS"],axis=1) #axis=1 ya que lo que elimino son columnas.

A continuación elimino las filas que no aportan información.

In [ ]:
db1= db1.dropna(thresh=9) #Mantiene solo las filas con al menos 9 valores que no sean NA. Esto me sirve ya que quiero eliminar aquellas filas
#que tengan NaN, es decir 19nCv y todos los parámetros del hemograma.
db1.shape

(320, 122)

Además teniendo en cuenta la informacion proporcionada por parte del hospital, elimino aquellas variables que son redundantes. Estas variables no aportan información adicional al futuro modelo de predicción.

In [ ]:
db1=db1.drop(["NE_R","NEU_a","NEU_p","LY_R","LIN_a","LIN_p","MO_R","EO_R","BA_R"],axis=1) #axis=1 ya que lo que elimino son columnas.

### 1.2 Eliminación de columnas con alta correlación

Tras comprobar las variables con alta correlación en el dendrograma se llega a la conclusión junto con el médico Javier, de eliminar una serie de variables por ser redundantes. Los grupos de parámetros sobre los que se discute son: (ERBLp, ERBL) (NEURI, NESFL) (NEUGI, NESSC) (PLTI, PLT) (WBC-N, LEU, TNC-N, WBC-D):

In [ ]:
db1=db1.drop(["ERBLp","NESFL","NESSC","PLT","WBC-N","TNC-N","WBC-D"],axis=1)

### 1.3 Agrupación de pacientes por gravedad


- UCI=1 y FALLECE=1 --> Muy grave
- UCI=0 y FALLLECE=1 --> Muy grave

- UCI=1 y FALLECE=0 --> Grave
- UCI=0 y FALLECE=0 --> Sano

In [ ]:
data_all = db1[(db1['UCI'] == 1.0) & (db1['FALLECE'] == 1.0)]
data_death = db1[(db1['UCI'] == 0.0) & (db1['FALLECE'] == 1.0)]
data_regular = db1[(db1['UCI'] == 1.0) & (db1['FALLECE'] == 0.0)]
data_health = db1[(db1['UCI'] == 0.0) & (db1['FALLECE'] == 0.0)]

### 1.4 Tipo de cada columna

In [ ]:
db1.info(verbose=True, null_counts=True) #Hay un total de 342 filas

<class 'pandas.core.frame.DataFrame'>
Int64Index: 320 entries, 4 to 341
Data columns (total 113 columns):
 #    Column             Non-Null Count  Dtype
---   ------             --------------  -----
 0    Número             319 non-null    float64
 1    Código Externo     320 non-null    int64
 2    FALLECE            96 non-null     float64
 3    UCI                96 non-null     float64
 4    19nCv              105 non-null    object
 5    Fecha              320 non-null    object
 6    Edad del Paciente  320 non-null    object
 7    Sexo del Paciente  320 non-null    object
 8    LEU                284 non-null    object
 9    NEU                284 non-null    object
 10   NEUp               284 non-null    object
 11   LIN                284 non-null    object
 12   LINp               284 non-null    object
 13   MON                284 non-null    object
 14   MONp               284 non-null    object
 15   EOS                284 non-null    object
 16   EOSp               284 non-null    object
 17   BAS                284 non-null    object
 18   BASp               284 non-null    object
 19   IG                 284 non-null    object
 20   IGp                284 non-null    object
 21   ERIT               284 non-null    object
 22   HGB                284 non-null    object
 23   HCT                284 non-null    object
 24   VCM                284 non-null    object
 25   HCM                284 non-null    object
 26   CHCM               284 non-null    object
 27   RDW                284 non-null    object
 28   ERBL               284 non-null    object
 29   ERBLp              284 non-null    object
 30   RET                9 non-null      object
 31   RETp               9 non-null      object
 32   FRI                9 non-null      object
 33   RETHE              9 non-null      object
 34   PLT                282 non-null    float64
 35   PLTI               282 non-null    float64
 36   PLTF               4 non-null      float64
 37   PLTO               9 non-null      float64
 38   VPM                283 non-null    object
 39   IPF                4 non-null      object
 40   MNEU               7 non-null      float64
 41   MLIN               7 non-null      object
 42   MMON               7 non-null      object
 43   MBAS               7 non-null      float64
 44   MEOS               7 non-null      float64
 45   MCAS               7 non-null      object
 46   MMET               3 non-null      float64
 47   MMIE               2 non-null      float64
 48   MPRO               2 non-null      float64
 49   CPLAS              2 non-null      float64
 50   MBLS               2 non-null      float64
 51   MERI               3 non-null      object
 52   rNe/L              160 non-null    object
 53   rPL/L              160 non-null    object
 54   HIPER              9 non-null      object
 55   HYPO               9 non-null      object
 56   MACR               0 non-null      float64
 57   MICRO              0 non-null      float64
 58   FRAGM              9 non-null      object
 59   MacR               284 non-null    object
 60   MicR               284 non-null    object
 61   RBCO               0 non-null      float64
 62   MCHCO              9 non-null      object
 63   BA-D#              284 non-null    object
 64   NEFSC              284 non-null    object
 65   BA-D%              284 non-null    object
 66   BA-N#              284 non-null    object
 67   BA-N%              284 non-null    object
 68   D-HE               9 non-null      object
 69   FRCA               9 non-null      object
 70   HFLCA              284 non-null    object
 71   HFLCP              284 non-null    object
 72   HIPF               4 non-null      object
 73   IPFA               4 non-null      object
 74   IRF-Y              9 non-null      object
 75   LY-WX              284 non-null    float64
 76   LY-WY              284 non-null    float64
 77   LY-WZ              284 non-null    float64
 78   LY-X               284 non-null    object
 79   LY-Y               284 non-null    object
 80   LY-Z               284 non-null    object
 81   MO-WX              284 non-null    float64
 82   MO-WY              284 non-null    float64
 83   MO-WZ              284 non-null    float64
 84   MO-X               284 non-null    object
 85   MO-Y               284 non-null    object
 86   MO-Z               284 non-null    object
 87   NESFL              284 non-null    object
 88   NESSC              284 non-null    object
 89   NE-WX              284 non-null    float64
 90   NE-WY              284 non-null    float64
 91   NE-WZ              284 non-null    float64
 92   RBCHE              9 non-null      object
 93   RBC-Y              9 non-null      object
 94   RTNC               9 non-null      float64
 95   RUPP               9 non-null      float64
 96   RET-Y              9 non-null      object
 97   RPI                9 non-null      object
 98   TNC-D              0 non-null      float64
 99   TNC-N              284 non-null    object
 100  TNC-P              0 non-null      float64
 101  WBC-D              284 non-null    object
 102  WBC-N              284 non-null    object
 103  WBC-P              0 non-null      float64
 104  ASLYP              284 non-null    object
 105  ASLYA              284 non-null    object
 106  RELPL              284 non-null    object
 107  RELYP              284 non-null    object
 108  RELYA              284 non-null    object
 109  NEUGI              284 non-null    object
 110  NEURI              284 non-null    object
 111  ASLPL              284 non-null    object
 112  19nCv.1            51 non-null     object
dtypes: float64(32), int64(1), object(80)
memory usage: 285.0+ KB

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: FutureWarning: null_counts is deprecated. Use show_counts instead
  """Entry point for launching an IPython kernel.

In [ ]:
#Cambio de comas por puntos
db1 = db1.replace(',','.', regex=True)

#Reemplazo esos caracteres por NaN
db1=db1.replace("----",np.nan)

# Función que elimina la palabra años
def only_digits (txt):
  return "".join(c for c in txt if c.isdigit())

db1["Edad del Paciente"] = db1["Edad del Paciente"].map(only_digits)

## MUY IMPORTANTE. Conversión de variables excepto 19nCv, Fecha, Sexo del Paciente y 19nCv.1 
# Una vez hecho el cambio de comas por puntos y haber introducido NaN por "----", este código me transforma los 'object' en 'numerics'
for i in db1:
  if not (i=="19nCv" or i=="Fecha" or i=="Sexo del Paciente" or i=="19nCv.1"):
    if db1[i].dtypes == object:
      db1[i] = pd.to_numeric(db1[i])

#Paso la variable "fecha" de tipo object a tipo datatime, para poder tratar con ella como una fecha.
db1["Fecha"]=pd.to_datetime(db1["Fecha"])

## 1.5 Intruducción de nuevas columnas, "Revision" y "Label"

In [ ]:
Codigo_lista = db1['Código Externo'].tolist()

In [ ]:
from collections import Counter

lista_pacientes = Counter(Codigo_lista).keys()

### INICIALIZO DATAFRAME DE SANOS
sanos_df = pd.DataFrame()

### INICIALIZO DATAFRAME DE NO SANOS
no_sanos_df = pd.DataFrame()

for i in lista_pacientes:  
      if i not in data_health.values:
        new_1 = db1.loc[db1["Código Externo"] == i]
        new_1 = new_1.sort_values('Fecha') #ordenar de la revision mas antigua a la mas reciente.
        new_1['Revision'] = range(1, 1+len(new_1)) #en la nueva columna "Revision" se van a añadiendo valores de manera incremental desde 1 teniendo 
                                          # en cuenta el número de citas de cada paciente.

        new_1 = new_1.assign(label=1) #Introduzco nueva columna con etiqueta 1 (NO SANO)

        no_sanos_df = no_sanos_df.append(new_1)

      else:
        new_2 = db1.loc[db1["Código Externo"] == i]
        new_2 = new_2.sort_values('Fecha')
        new_2['Revision'] = range(1, 1+len(new_2)) #en la nueva columna "Revision" se van a añadiendo valores de manera incremental desde 1 teniendo 
                                          # en cuenta el número de citas de cada paciente.

        new_2 = new_2.assign(label=0)#Introduzco nueva columna con etiqueta 0 (SANO)
      
        sanos_df = sanos_df.append(new_2)

# 2. Preprocesado de datos

### ¿Hasta que revisión se cuenta con un número adecuado de pacientes?

Se realiza el proyecto con un total de 4 revisiones. Se llega a esta conclusión de la siguiente forma; se dividen las variables de forma individual y se va representando cada uno de los valores de cada variable en cada revisión (teniendo así una visión de los valores de la variable para todos los pacientes en cada revisión a medida que pasa el tiempo). Esto se realiza con los pacientes sanos por un lado y los pacientes no sanos por el otro. Finalmente, se observa como con 4 revisiones se puede hacer un estudio amplio y completo de las variables. 

Además, de 98 pacientes, 44 pacientes presentan 4 revisiones, es decir el 44,89% de los pacientes presentes en la base de datos, porcentaje considerable que ayuda a tomar la decision de usar 4 revisiones.

In [ ]:
db1 = pd.concat([sanos_df, no_sanos_df])
db1.shape

print(db1.columns)

## 2.1 Identificacion de valores perdidos

Junto con el estudio del tipo de variables, es básico conocer el número de observaciones disponibles y si todas ellas están completas. Los valores perdidos son muy importantes a la hora de crear modelos, la mayoría de algoritmos no aceptan observaciones incompletas o bien se ven muy influenciados por ellas.

In [ ]:
# Columnas con missing values

for index,value in enumerate (db1.isnull().sum()):
  if value !=0:
    print(db1.columns[index],value)

In [ ]:
#Quitar todas las columnas con mas de 310 NaN

#320-310 = 10. Las columnas con 311 NaN tienen 9 valores no NaN. Por lo que si me quedo con aquellas columnas que tengan como mínimo 10 valores
# no NaN, elimino todas las columnas con 333 NaN o más.
db1=db1.dropna(thresh=10,axis=1) 

db1=db1.drop(["Número","19nCv","19nCv.1", "FALLECE", "UCI", "Fecha"],axis=1)


print(db1.columns)

A continuación se hace un tratamiento de la variable categorica, para facilitar el trabajo con ella.

In [ ]:
# Se convierte la variable Sexo del paciente a variable categórica

db1['Sexo del Paciente'] = db1['Sexo del Paciente'].astype('category').cat.codes # 0 --> Femenino, 1--> Masculino

In [ ]:
db1

## 2.2 XGBoost

Comienzo seleccionando únicamente los parámetros que elgió el método XGBoost (Revisar los parámetros seleccionados por los métodos cuando Javier me responda a la eliminación de features muy correlacionadas)

In [ ]:
db1_FS_XGB = db1[['Código Externo', 'MicR','LINp','HGB','HCM','NEUp','HFLCA','RELPL','ERIT','IGp','Revision', "label"]]

In [ ]:
db1_FS_XGB

Ahora debo comenzar con la división de train y test. Hay que tener en cuenta, que a la hora de dividir no me convendría tener la revisión 1 y 3 de un paciente en train y la revisión 2 del mismo paciente en test, por lo que eso debo de tenerlo MUY EN CUENTA

Por lo tanto, la división hay que hacerla por código externo.

Los pasos a seguir para llevar a cabo dicha división serán:

1. Extraer el código externo

2. Eliminar las duplicidades consiguiendo de esa manera un vector de valores únicos de la columna "Código Externo"

3. Shuffle del vector creado

4. Teniendo en cuenta que para train me quedo con el 80% de los datos y para test con el 20% restante, de los 98 pacientes que tengo, me quedaré con 78 para train y 20 para test

In [ ]:
# Codigo_lista muestra todos los códigos externos y ha sido creada a partir de convertir a lista la columna 
# "Código Externo"

cd_unique = np.unique(Codigo_lista)
print("La lista de códigos externos únicos es:",cd_unique)

La lista de códigos externos únicos es: [  1164   1214  10074  10092  11197  11258  11372  12016  13299  13397
 101480 101609 101660 102441 104431 104798 104849 104851 105140 105582
 105639 106066 107746 107747 108527 108894 108897 109036 109115 109129
 109339 109887 110011 110435 110607 111310 111339 111520 111561 111786
 112135 112511 112823 112894 114183 114495 114819 115555 115784 115847
 116005 116033 116159 116453 116651 116806 117212 117398 117462 118023
 118401 119606 119737 119766 120418 121289 121358 122654 122958 123156
 123456 123676 123724 124738 124850 126455 126638 127383 128124 128148
 128864 130481 130937 131267 131394 132015 132432 133617 133978 134492
 134855 135062 135217 136647 136922 137069 137304 138076]

## 2.3 Separación en train y test

In [ ]:
import random

#Desordeno de manera aleatoria la lista de códigos externos
random.shuffle(cd_unique)

#Hago la división en train y test, quedándome con los 78 primeros valores de la lista para train y los 20
#valores restantes para test

cd_train = cd_unique[0:78]
cd_test = cd_unique[78:98]

Debo crear un dataframe donde estén todas las revisiones de los primeros 78 códigos externos seleccionados anteriormente. A partir de este dataframe sacaré un x_train y un y_train que será "label".

In [ ]:
for i in cd_train: